<div class='modal-header'>
    <a type='button' class='close' ng-click='cancelar()'>×</a>
    <h1>Cambiar Clave</h1>
</div>

<div class='modal-body'>
	<form>
		<div class="form-group">
	    	<label for="nombres">Clave Anterior</label>
	    	<input type="password" class="form-control" id="nombres" value="" placeholder="">
	  	</div>
	  	<div class="form-group">
	    	<label for="nombres">Clave Nueva</label>
	    	<input type="password" class="form-control" id="nombres" value="" placeholder="">
	  	</div>
	  	<div class="form-group">
	    	<label for="nombres">Confirmar Clave Nueva</label>
	    	<input type="password" class="form-control" id="nombres" value="" placeholder="">
	  	</div>
	</form>
	<div class="alert alert-success" role="alert">Tu Clave tiene un excelente nivel de seguridad</div>
	<div class="alert alert-warning" role="alert">Tu Clave es sencilla no recomendamos su uso</div>
	<div class="alert alert-danger" role="alert">Tu Clave es muy sencilla NO SE PUEDE UTILIZAR</div>
</div>

<div class='modal-footer'>
    <a class='btn btn-default btn-sm' ng-click='enviar()' ng-disabled='accion != "buscar" && form.$invalid || enviando'>Cambiar clave</a>
    <a class='btn btn-default btn-sm' ng-click='cancelar()' ng-disabled='enviando'>Cancelar</a>
</div>